@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

._app_main {
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/img/background.png");
  background-size: cover;
  background-position: center;
  color: black;
}
